<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
</head>
<body>
    <div id= "div_main">
    <header>
        <% include ./header %>
    </header>

    <main>
        <div id="div_list">
        <table class="tbl_list">
            <tr><th>AppleScript</th><th>Link</th><th>Copy Link</th><th>Start</th></tr>

            <% for(let i = 0; i < posts.length; i++) { %>
                <tr>
                    <td><a href="" data-path="<%= posts[i] %>" class="js-xhr"><%= posts[i] %></a></td>
                    <td class="td_url">http://<%= ip %>:3000/<%= posts[i] %></td>
                    <td>
                        <button type="button" class="btn_copy" data-path="http://<%= ip %>:3000/<%= posts[i] %>">
                            Copy Link
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn_execute" data-path="<%= posts[i] %>">
                            Execute
                        </button>
                    </td>
                </tr>
            <% } %>
        </table>
        </div>
    </main>

    <footer>
        <% include ./footer %>
    </footer>
    </div>
</body>
    <script src="public/script.js"></script>
</html>
